.ringo {
  height: 180px;
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
  animation: fill 2.5s infinite;
  border: 10px solid black;
  z-index: 3;
}
.ringo_bg {
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.leaf-img {
  width: 50%;
  position: absolute;
  top: -105%;
  /*　中央に配置 */
  left: 45%;
}
.stem {
  width: 12.5px;
  height: 97px;
  background-color: black;
  position: absolute;
  top: -65px;
  left: 80px;
  transform: rotate(0deg);
  border-radius: 10px;
  z-index: 2;
}

.aka {
  width: 180px;
  height: 180px;
  background-image: url('img/ringocolor.jpg');
  background-size: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  animation: fillCircle 2.5s;
  z-index: 1;
}

@keyframes fillCircle {
  0% {
      transform: scale(0.1); 
  }
  100% {
      transform: scale(1.0);
  }
}

.main-content {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000; /* loader_bgより小さいz-index */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  display: block;
  width: 150px;
  margin-top: 20px;
}


body {
  background-color: #ffffff; /* 背景色を白に設定 */
  color: #000; /* 文字色を黒に設定 */
  font-family: 'Poppins', sans-serif; /* フォントを指定 */
  margin: 0; /* マージンをリセット */
  padding: 0; /* 余白をリセット */
  /*　文字を真ん中にして */
  text-align: center;
  width: 100%;
  height: 100%;

}

/* セクションのスタイルも調整が必要な場合 */
section {
  width: 90%; /* 適切な幅を設定 */
  margin: 0 auto; /* 左右のマージンを自動で調整して中央に配置 */
  padding: 0;
}

.title, .mission-title, .vision-title, .rinen-title{
  width: 100%;
  text-align: center;
  margin: 10px 0;
  font-size: 35px;
  color: #333;
  padding-bottom: 10px; /* 下部のパディングを設定し、線との間隔を開ける */
}

.title::after, .mission-title::after, .vision-title::after, .rinen-title::after {
  content: '';
  display: block;
  margin: 0 auto; /* 中央揃え */
  width:  75%; /* 線の幅を50%に設定 */
  height: 2px; /* 線の高さ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255,0,0), rgba(255, 255, 255, 0)); /* 両端が透明になるようにグラデーション */
}



.mission-title {
  margin-top: 40px;
  color: red; /* ミッションタイトルの色を変更 */
  text-align: center;
}

.mission-text {
  text-align: center; /* テキストを中央揃えに */
  font-weight: bold; /* テキストを太字に */
  color: #333; /* テキストの色を濃いグレーに */
}

.red-text {
  color: red; /* テキストを赤くする */
}

.vision-title {
  margin-top: 40px;
  color: red; /* ミッションタイトルの色を変更 */
  text-align: center;
}

.vision-text {
  text-align: center; /* テキストを中央揃えに */
  font-weight: bold; /* テキストを太字に */
  color: #333; /* テキストの色を濃いグレーに */
}

.rinen-title {
  margin-top: 40px;
  color: red; /* ミッションタイトルの色を変更 */
  text-align: center;
}

.rinen-text {
  text-align: center; /* テキストを中央揃えに */
  font-weight: bold; /* テキストを太字に */
  color: #333; /* テキストの色を濃いグレーに */
}

.rinen {
  text-align: center;
  font-weight: bold; /* テキストを太字に */
  color: #333; /* テキストの色を濃いグレーに */

}

.highlight {
  color: red; /* 'X'の色を赤に設定 */
}


/* タイトルを中央に */
.title {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
  cursor: pointer;
  z-index: 100;
}

.hamburger span {
  display: block;
  height: 4.5px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.hamburger.active span:first-child {
  transform: rotate(45deg) translate(8px, 10px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}



.full-screen-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99;
  text-align: center;
  padding-top: 50px;
}


.full-screen-menu ul {
  list-style: none;
  padding: 0;
}

.full-screen-menu ul li a {
  display: block;
  padding: 10px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 40px;
}


.full-screen-menu ul li a:hover {
  color: #ff0000;
}
/* メニューの中でアイコンとPartnersの間にスペースを追加 */
.full-screen-menu ul li {
  margin: 15px 0;
}

.full-screen-menu ul li.partners {
  margin-bottom: 50px; /* 下に30pxのマージンを設定 */
}

/* SNSアイコンのスタイル */
.social-icon {
  margin: 0 10px;
  width: 40px;
  height: 40px;
}
/*　アイコンにカーゾルを合わせたら暗くなる */
.social-icon:hover {
  opacity: 0.7;
}

/* ボディとフッターのテキスト中央揃え */
body, footer {
  text-align: center;
}

body {
  font-family: 'Arial', sans-serif;
  color: white;
  background-color: #fff7f587;
  margin: 0;
}

.footer {
  background-color: #000000; /* 黒色の背景 */
  color: white; /* 白色のテキスト */
  text-align: center; /* テキストを中央揃えに */
  padding: 20px 0; /* 上下のパディング */
  width: 100%; /* 幅を100%に設定 */
  position: flex; /* 位置を固定 */
  left: 0; /* 左端に固定 */
  bottom: 0; /* 下端に固定 */
  z-index: 100; /* 必要に応じてz-indexを調整 */
}

.container {
  max-width: 100%;;
  margin: 0; /* 左右のマージンを自動で調整して中央に配置 */
  margin-top: 100px;
  background-color: #fff7f587;
  box-sizing: border-box; /* ボーダーやパディングを幅に含める */
  overflow-wrap: break-word; /* 単語がコンテナの幅を超える場合に折り返す */
  font-size: 25px;
  color: #666;
  text-align: left;
}

.container p {
  margin-left: 100px;
  margin-right: 100px;
}


.footer-logo
{
  display: flex;
  align-items: center;
  width : 200px;
  height: auto;
  /* ロゴをちゅうおうに */
  margin: 0 auto;
}

.footer p {
  font-size: 16px;
}

.footer h2 {
  font-size: 24px;
}

.accordionm{
  width: 800px;
  /* 中央揃え */
  margin: 0 auto;
}

.accordionm .contentm {
  position: relative;
  margin: 10px 20px;
}

.accordionm .contentm .label {
  position: relative;
  padding: 10px;
  background: #ff7974;
  color: #fff;
  cursor: pointer;
}
.accordionm .contentm .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
.accordionm .contentm.active .label::before {
  content:'-';
  font-size: 50px;
  top: 40%;
  right: 20px;
}
.accordionm .contentm .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.accordionm .contentm.active .content {
  height: 320px;
  padding: 10px;
}

.accordionv{
  width: 800px;
  /* 中央揃え */
  margin: 0 auto;
}

.accordionv .contentm {
  position: relative;
  margin: 10px 20px;
}

.accordionv .contentm .label {
  position: relative;
  padding: 10px;
  background: #ff7974;
  color: #fff;
  cursor: pointer;
}
.accordionv .contentm .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
.accordionv .contentm.active .label::before {
  content:'-';
  font-size: 50px;
  top: 40%;
  right: 20px;
}
.accordionv .contentm .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.accordionv .contentm.active .content {
  height: 280px;
  padding: 10px;
}
.margin {
  margin-top: 50px;
}
.accordiond{
  width: 800px;
  /* 中央揃え */
  margin: 0 auto;
}

.accordiond .contentm {
  position: relative;
  margin: 10px 20px;
}

.accordiond .contentm .label {
  position: relative;
  padding: 10px;
  background: #ff7974;
  color: #fff;
  cursor: pointer;
}
.accordiond .contentm .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
.accordiond .contentm.active .label::before {
  content:'-';
  font-size: 50px;
  top: 40%;
  right: 20px;
}
.accordiond .contentm .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.accordiond .contentm.active .content {
  height: 400px;
  padding: 10px;
}
/* 太字にする */
.bold {
  font-weight: bold;
}

/* 768pxのスタイル */
@media (max-width: 768px) {
  .accordionm{
    max-width: 100%;
  }
  .accordionv{
    max-width: 100%;
  }
  .accordiond{
    max-width: 100%;
  }
  .container p {
    margin-left: 40px;
    margin-right: 40px;
  }
  .footer p {
    font-size: 10px;
  }
  
  .footer h2 {
    font-size: 18px;
  }
  .title, .mission-title, .vision-title, .rinen-title{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 25px;
    color: #333;
    padding-bottom: 10px; /* 下部のパディングを設定し、線との間隔を開ける */
  }
  .container {
    max-width: 100%;;
    margin: 0; /* 左右のマージンを自動で調整して中央に配置 */
    margin-top: 100px;
    background-color: #fff7f587;
    box-sizing: border-box; /* ボーダーやパディングを幅に含める */
    overflow-wrap: break-word; /* 単語がコンテナの幅を超える場合に折り返す */
    font-size: 20px;
    color: #666;
    text-align: left;
  }
  .social-icon {
    margin: 0 10px;
    width: 30px;
    height: 30px;
  }
}