.ringo {
  height: 180px;
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
  animation: fill 2.5s infinite;
  border: 10px solid black;
  z-index: 3;
}
.ringo_bg {
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.leaf-img {
  width: 50%;
  position: absolute;
  top: -105%;
  /*　中央に配置 */
  left: 45%;
}
.stem {
  width: 12.5px;
  height: 97px;
  background-color: black;
  position: absolute;
  top: -65px;
  left: 80px;
  transform: rotate(0deg);
  border-radius: 10px;
  z-index: 2;
}

.aka {
  width: 180px;
  height: 180px;
  background-image: url('img/ringocolor.jpg');
  background-size: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  animation: fillCircle 2.5s;
  z-index: 1;
}

@keyframes fillCircle {
  0% {
      transform: scale(0.1); 
  }
  100% {
      transform: scale(1.0);
  }
}

.main-content {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between; /* ヘッダー内の要素を両端に配置 */
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


/* フェードイン・フェードアウトアニメーション */
.fade-in {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-out {
    animation: fadeOutAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOutAnimation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.intro-text {
    text-align: center; /* テキストを中央揃えに */
    font-size: 30px; /* フォントサイズを設定 */
    margin-top: 55px; /* 上部に50pxのマージンを追加 */
    background: #ffffff; /* 背景色を設定（必要に応じて変更） */
    color: #333; /* テキストの色を設定（視認性を考慮） */
}

/* ロゴのスタイル */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    display: block;
    width: 150px;
    /*　ロゴをヘッダーに対して高さを中央にして配置 */
    margin-top: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: #fff;
}

/* ヒーローセクションのスタイル */
.hero-img {
    width: 100%;
}

h1, h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* TICKETセクションのスタイル */
.ticket {
    padding-top: 50px;
    font-size: 30px;
    background-color: #3E3E3E;
    color: white;
}

.button {
    all: unset; 
    display: block;
    height: 3rem;
    width: 12rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    border-radius: 20px;
    position: relative;
    perspective: 100vmax;
    cursor: pointer;
    background-size: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('img/ringotyan.png');
    /*画像サイズを大きく*/
    background-size: 30%;
    /*　ボタンを中央揃えに */
    margin: 0 auto;
}

.button:active {
    background-image: url('img/ringotyan.png');

}

.button::before {
    content: "Apply";
    font: 450 1.5rem 'bebas neue pro', sans-serif; /* フォントファミリーにフォールバックを追加 */
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: #ff4943;
    border: 2px solid #ffffff;
    border-radius: 20px;
    position: absolute;
    inset: -2px -2px -2px -2px; /* insetは top right bottom left の順 */
    transition: transform 1s; /* transformの変更に対するトランジションを設定 */
    transform: translate3d(0, 0, 4px); /* 3Dで移動するtransform */
    transform-origin: 0 0; /* 変形の原点を左上に設定 */
    transform-style: preserve-3d; /* 3D変形スタイルを保持 */
}

.button:hover::before {
    transform: rotate3d(1,0,0,135deg);
}


.event-details {
    border: 8px solid white; /* 白い境界線 */
    padding: 20px; /* パディングを設定 */
    margin: 20px auto; /* 上下のマージンを設定 */
    /* テキストを左寄せに */
    text-align: left;
    max-width: 50%;
}

.footer {
    background-color: #000000;
    color: white;
    padding: 20px 0;
}

.footer-logo {
    display: flex;
    align-items: center;
    width : 200px;
    height: auto;
    /* ロゴをちゅうおうに */
    margin: 0 auto;
}


.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 25px;
    cursor: pointer;
    z-index: 100;
}

.hamburger span {
    display: block;
    height: 4.5px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.hamburger.active span:first-child {
    transform: rotate(45deg) translate(8px, 10px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
}

.full-screen-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    text-align: center;
    padding-top: 50px;
}

.full-screen-menu ul {
    list-style: none;
    padding: 0;
}

.full-screen-menu ul li a {
    display: block;
    padding: 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 40px;
}

.full-screen-menu ul li a:hover {
    color: #ff0000;
}

/* メニューの中でアイコンとPartnersの間にスペースを追加 */
.full-screen-menu ul li {
    margin: 15px 0;
}

.full-screen-menu ul li.partners {
    margin-bottom: 50px; /* 下に30pxのマージンを設定 */
}

/* SNSアイコンのスタイル */
.social-icon {
  margin: 0 10px;
  width: 40px;
  height: 40px;
}
/*　アイコンにカーゾルを合わせたら暗くなる */
.social-icon:hover {
  opacity: 0.7;
}
.header {
  display: flex;
  justify-content: space-between; /* ヘッダー内の要素を両端に配置 */
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


/* フェードイン・フェードアウトアニメーション */
.fade-in {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fadeOutAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOutAnimation {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.intro-text {
  text-align: center; /* テキストを中央揃えに */
  font-size: 30px; /* フォントサイズを設定 */
  margin-top: 55px; /* 上部に50pxのマージンを追加 */
  background: #ffffff; /* 背景色を設定（必要に応じて変更） */
  color: #333; /* テキストの色を設定（視認性を考慮） */
}

/* ロゴのスタイル */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  display: block;
  width: 150px;
  /*　ロゴをヘッダーに対して高さを中央にして配置 */
  margin-top: 20px;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-color: #fff;
}
/* ヒーローセクションのスタイル */
.hero-img {
  width: 100%;
}
h1, h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* TICKETセクションのスタイル */
.ticket {
  padding-top: 50px;
  font-size: 30px;
  background-color: #3E3E3E;
  color: white;
}

.button {
  all: unset; 
  display: block;
  height: 3rem;
  width: 12rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
  border-radius: 20px;
  position: relative;
  perspective: 100vmax;
  cursor: pointer;
  background-size: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('img/ringotyan.png');
  /*画像サイズを大きく*/
  background-size: 30%;
  /*　ボタンを中央揃えに */
  margin: 0 auto;
}
.button:active {
  background-image: url('img/ringotyan.png');
}

.button::before {
  content: "Apply";
  font: 450 1.5rem 'bebas neue pro', sans-serif; /* フォントファミリーにフォールバックを追加 */
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: #ff4943;
  border: 2px solid #ffffff;
  border-radius: 20px;
  position: absolute;
  inset: -2px -2px -2px -2px; /* insetは top right bottom left の順 */
  transition: transform 1s; /* transformの変更に対するトランジションを設定 */
  transform: translate3d(0, 0, 4px); /* 3Dで移動するtransform */
  transform-origin: 0 0; /* 変形の原点を左上に設定 */
  transform-style: preserve-3d; /* 3D変形スタイルを保持 */
}


.button:hover::before {
  transform: rotate3d(1,0,0,135deg);
}
.information {
  padding-top: 50px;
  font-size: 30px;
  background-color: #3E3E3E;
  color: white;
}

.event-details {
  border: 8px solid white; /* 白い境界線 */
  padding: 20px; /* パディングを設定 */
  margin: 20px auto; /* 上下のマージンを設定 */
  /* テキストを左寄せに */
  text-align: left;
  max-width: 50%;
}

.footer {
  background-color: #000000;
  color: white;
  padding: 20px 0;
}

.footer-logo
{
  display: flex;
  align-items: center;
  width : 200px;
  height: auto;
  /* ロゴをちゅうおうに */
  margin: 0 auto;

}

nav {
  display: flex;
  justify-content: space-between; /* 左のロゴと右のハンバーガーメニューの間にスペースを設ける */
  align-items: center;
  padding: 0 20px; /* ナビゲーションバーの内側に余白を設ける */
  width: 100%;
  height: 60px; /* 高さを設定 */
  background-color: #fff; /* 背景色を白に */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影をつける */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 25px;
  cursor: pointer;
  z-index: 100;
}

.hamburger span {
  display: block;
  height: 4.5px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.hamburger.active span:first-child {
  transform: rotate(45deg) translate(8px, 10px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}



.full-screen-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99;
  text-align: center;
  padding-top: 50px;
}


.full-screen-menu ul {
  list-style: none;
  padding: 0;
}

.full-screen-menu ul li a {
  display: block;
  padding: 10px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 40px;
}


.full-screen-menu ul li a:hover {
  color: #ff0000;
}
/* メニューの中でアイコンとPartnersの間にスペースを追加 */
.full-screen-menu ul li {
  margin: 15px 0;
}

.full-screen-menu ul li.partners {
  margin-bottom: 50px; /* 下に30pxのマージンを設定 */
}

/* SNSアイコンのスタイル */
.social-icon {
  margin: 0 10px;
  width: 40px;
  height: 40px;
}
/*　アイコンにカーゾルを合わせたら暗くなる */
.social-icon:hover {
  opacity: 0.7;
}

/* ボディとフッターのテキスト中央揃え */
body, footer {
  text-align: center;
}

body {
  font-family: 'Arial', sans-serif;
  color: white; /* テキストの色を白に変更する場合 */
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.section {
  text-align: center;
}

.section-title {
  position: relative;
  padding-bottom: 10px; /* タイトルの下のパディング */
  text-align: center; /* タイトルを中央揃えに */
}

.section-title::after {
  content: '';
  display: block;
  margin: 0 auto; /* 中央揃え */
  width: 50%; /* 線の幅を50%に設定 */
  height: 2px; /* 線の高さ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0)); /* 両端が透明になるようにグラデーション */
}

.centered-text {
  text-align: center;
  width: 100%; /* コンテナが全幅になるように設定 */
  clear: both; /* 前の要素のfloatをクリア */
}

.event-details {
  text-align: left; /* イベント詳細を左揃えに */
  max-width: 50%; /* 必要に応じて幅を調整 */
  margin: 0 auto; /* ボックスを中央に */
  border: 8px solid white; /* 白い枠線を保持 */
}

/* 浮動要素の後でfloatをクリア */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.timetable-image {
  float: left; /* 画像を左に浮動させる */
  margin-right: 20px; /* 画像とテキストの間にスペースを設ける */
  width: 200px; /* 必要に応じて幅を調整 */
}

.info-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: nowrap; /* 折り返しを無効にする */
}

.timetable-image {
  flex: 1;
  max-width: 450px; /* 画像の最大幅を制限 */
  height: auto;
  margin-right: 20px; /* 右にマージンを設ける */
  margin-left: 70px; /* 左にマージンを設ける */
}

.event-details {
  flex: 3;
  text-align: left;
  padding: 20px;
  background-color: #3E3E3E; /* 背景色を薄いグレーに設定 */
  border: 3px solid #ccc; /* 境界線を設定 */
}

@media (max-width: 768px) {
.hero {
  height: 75vh; /* 高さを画面全体に設定 */
}
.hero-content {
  padding: 10px; /* コンテンツの内側にパディングを設定 */
}
.info-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.map-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.timetable-image {
  
  flex: 1;
  max-width: 300px; /* 画像の最大幅を制限 */
  margin-right: 10px; /* 右にマージンを設ける */
  margin-left: 0px; /* 左にマージンを設ける */
}
.walk-image {
  max-width: 50%; /* 画像の最大幅を制限 */
  margin-right: 30px; /* 右にマージンを設ける */
  margin-left: 30px; /* 左にマージンを設ける */
  margin-right: 50px; /* 右にマージンを設ける */
}


.event-details {
  flex: 3;
  text-align: left;
  padding: 20px;
  background-color: #3E3E3E; /* 背景色を薄いグレーに設定 */
  border: 3px solid #ccc; /* 境界線を設定 */
  font-size: 15px;
}
.google-map {
  max-width: 30%; /* 幅を100%に設定 */
  /* 左に寄せる */
  margin-left: 20px;
  margin-right: 20px;

}
.intro-text {
  text-align: center; /* テキストを中央揃えに */
  font-size: 20px; /* フォントサイズを設定 */
  margin-top: 80px; /* 上部に50pxのマージンを追加 */
  background: #ffffff; /* 背景色を設定（必要に応じて変更） */
  color: #333; /* テキストの色を設定（視認性を考慮） */
}
.ticket {
  padding-top: 50px;
  font-size: 20px;
  background-color: #3E3E3E;
  color: white;
}
.full-screen-menu ul li a {
  display: block;
  padding: 10px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-logo{
  width: 130px;
  height: auto;
  margin: 0 auto;
}
.information {
  padding-top: 50px;
  font-size: 20px;
  background-color: #3E3E3E;
  color: white;
}
.social-icon {
  margin: 0 10px;
  width: 30px;
  height: 30px;
}
.ticket-text{
  font-size: 20px;
  color: white;
}
.footer{
  font-size: 13px;
  color: white;
}
}

.small-text {
  font-size: 16px; /* フォントサイズを12pxに設定 */
  color: #ccc; /* テキストの色を薄いグレーにする（視認性を考慮して選択） */
}

.margin {
  margin-top: 20px; /* 上部に20pxのマージンを追加 */
}
.walk-image {
  float: right;
  max-width: 30%; /* 画像の最大幅を制限 */
  height: auto;
  margin: 0 auto;
}
.map-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: nowrap; /* 折り返しを無効にする */
}
.google-map {
  width: 900px; 
  max-width: 50%; /* マップの幅を調整 */
  height: 400px; /* マップの高さを指定 */
  /* マップを中央揃えに */
  margin: 0 auto;
  border: 0;
  /* マップに枠線を追加 */
  border: 5px solid #ccc;
}